body {
  margin: 0;
  background-color: #e6e6e6;
  font-size: 16px;
  line-height: 1.2;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
body p,
body div,
body span,
body a,
body button {
  font-size: 100%;
}
body h1 {
  font-size: 200%;
}
body .animate {
  transition: left 0.25s ease;
}
body #header {
  background-color: #fff;
  width: 100%;
  position: fixed;
  top: 0;
  height: 64px;
  box-shadow: 0 2px 2px 0 #b3b3b3;
}
body #header .branding {
  padding: 16px;
}
body #sidebar {
  background-color: #fff;
  position: fixed;
  width: 152px;
  top: 64px;
  left: 0;
  bottom: 0;
  box-shadow: 2px 2px 0px 0px #b3b3b3;
}
body #sidebar.collapsed {
  left: -152px;
}
body #content {
  background-color: #fff;
  position: fixed;
  top: 80px;
  left: 168px;
  bottom: 16px;
  right: 16px;
  box-shadow: 0 2px 2px 0 #b3b3b3;
}
body #content.collapsed {
  left: 16px;
}
body #content #start {
  text-align: center;
  padding: 32px;
  height: 100%;
}
body #content #start .start-button {
  background-color: #cfcfcf;
  width: 256px;
  height: 96px;
  font-weight: 700;
  color: #fff;
  border: none;
  border-radius: 4px;
  border-right: 3px solid #b3b3b3;
  border-bottom: 3px solid #b3b3b3;
}
body #content #start .start-button:active {
  background-color: #b3b3b3;
}
body #content #questions {
  height: 100%;
  display: flex;
}
body #content #questions .questions-container {
  display: inline-block;
  flex-grow: 3;
}
body #content #questions .question {
  border: 1px solid #b3b3b3;
  box-shadow: 0 2px 2px 0 #b3b3b3;
  padding: 16px;
  margin: 8px;
  text-align: center;
}
body #content #questions .question .question-content {
  display: inline-block;
}
body #content #questions .question .voting-options {
  float: right;
}
body #content #questions .session-info {
  flex-grow: 1;
  display: inline-block;
  padding: 16px;
  margin: 8px;
  text-align: right;
}
body #content #questions .session-info .session-title {
  font-family: 'Oswald', sans-serif;
  font-size: 240%;
  font-weight: 700;
}
body #content #questions .session-info .session-pin {
  font-weight: 700;
  margin-bottom: 16px;
}
