@white: #fff;
@light-gray: #e6e6e6;
@gray: #cfcfcf;
@darker-gray: #b3b3b3;

@single-space: 8px;
@double-space: 16px;
@triple-space: 24px;
@quad-space: 32px;

@float-box-shadow: 0 2px 2px 0 @darker-gray;

body {
    margin: 0;
    background-color: @light-gray;
    font-size: 16px;
    line-height: 1.2;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

    p, div, span, a, button {
        font-size: 100%;
    }

    h1 {
        font-size: 200%;
    }

    .animate {
        transition: left 0.25s ease;
    }
    
    #header{
        background-color: @white;
        width: 100%;
        position: fixed;
        top: 0;
        height: @single-space * 8;
        box-shadow: @float-box-shadow;

        .branding {
            padding: @double-space;
        }
    }

    #sidebar {
        background-color: @white;
        position: fixed;
        width: @single-space * 19;
        top: @single-space * 8;
        left: 0;
        bottom: 0;
        box-shadow: 2px 2px 0px 0px @darker-gray;

        &.collapsed
        {
            left: -@single-space * 19;
        }
    }

    #content {
        background-color: @white;
        position: fixed;
        top: @single-space * 10;
        left: @single-space * 21;
        bottom: @double-space;
        right: @double-space;
        box-shadow: @float-box-shadow;

        &.collapsed
        {
            left: @single-space * 2;
        }

        #start {
            text-align: center;
            padding: @quad-space;
            height: 100%;

            .start-button {
                background-color: @gray;
                width: @single-space * 32;
                height: @single-space * 12;
                font-weight: 700;
                color: @white;
                border: none;
                border-radius: 4px;
                border-right: 3px solid @darker-gray;
                border-bottom: 3px solid @darker-gray;

                &:active {
                    background-color: @darker-gray;
                }
            }
        }

        #questions {
            height: 100%;
            .questions-container {
                display: inline-block;
                width: 66%;
            }

            .question {
                    border: 1px solid @darker-gray;
                    box-shadow: @float-box-shadow;
                    padding: @double-space;
                    margin: @single-space;
                    
                    text-align: center;
                    .question-content {
                        display: inline-block;
                    }
                    .voting-options {
                        float: right;
                    }
                }

            .session-info {
                position: fixed;
                height: 80%;
                background-color: blue;
                width: 28%;
                display: inline-block;
                padding: @double-space;
                margin: @single-space;
            }
        }
    }

}