@base-text-color: #1B1B1E;

@orange: #ff8c00;
@dark-blue: #0079B2;
@light-blue: #00ACFF;

@white: #FBFFFE;
@light-gray: #C1CAD6;
// @gray: darken(@light-gray, 15%);
@darker-gray: darken(@light-gray, 30%);
@single-space: 8px;
@double-space: 16px;
@triple-space: 24px;
@quad-space: 32px;
@float-box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.2);
@bleak-blue: #797BA8;
@light-blue: #66C7F4;
@red: #ff3e41;

.alertify-notifier .ajs-message.ajs-error{
    color: @white;
}

.alertify-notifier .ajs-message {
    color: @dark-blue;
    background-color: @white;
}

body {
    color: @base-text-color;
    margin: 0;
    background-color: @dark-blue;
    font-size: 16px;
    line-height: 1.2;
    font-family: 'Open Sans', sans-serif;
    p,
    div,
    span,
    a,
    button {
        font-size: 100%;
    }
    h1 {
        font-size: 200%;
    }




    /* common */
    .animate {
        transition: left 0.25s ease;
    }

    .primary-button {
        color: @white;
        padding: @single-space;
        background-color: @red;
        font-weight: 600;
        border-radius: 2px;
        border: 2px solid darken(@red, 20%);

        &:hover {
            color: darken(@white, 5%);
            cursor: pointer;
        }
    }

    input[type="text"] {
        padding: @single-space / 2;
        border: 2px solid @light-gray;
    }

    .secondary-button {
        border: none;
        background-color: transparent;
        color: @bleak-blue;
        &:hover {
            color: darken(@bleak-blue, 15%);
            cursor: pointer;
        }
    }

    .form-group {
        margin: @double-space 0;
    }
    
    .form-actions {
        margin-top: @single-space * 4;
    }

    .control-label {
        font-weight: 700;
        display: block;
        margin-bottom: @single-space;
    }

    #pin-entry {
        text-align: center;
        width: 100%;
        margin: 0 auto;
    }
    #content {
        .action-buttons {
            position: fixed;
            top: @quad-space;
            right: @quad-space;
            button {
                cursor: pointer;
                background-color: @orange;
                color: @white;
                border: none;
                padding: @single-space;
                border-radius: 2px;
                border-right: 3px solid darken(@orange, 10%);
                border-bottom: 3px solid darken(@orange, 10%);
                &:active {
                    background-color: darken(@orange, 10%);
                }
            }
        }

        #start {
            h1 {
                color: @white;
                font-size: @single-space * 9;
                font-weight: bold;
                margin-bottom: 0;
            }

            h3 {
                margin-top: @single-space;
                color: @white;
            }

            img {
                height: 40vh;
                margin: 0 auto;
                display: block;
            }

            .id-input {
                color: @white;
                font-weight: bold;
                font-size: @quad-space;

                input {
                    background-color: @dark-blue;
                    color: @white;
                    font-weight: bold;
                    border: none;
                    border-radius: 2px;
                    border-bottom: 2px solid black;
                    margin: @double-space;
                    font-size: @double-space;
                    padding: @single-space;
                    text-align: center;
                    transition: 0.15s all linear;

                    &:focus {
                        outline: none !important;
                        border-bottom: 2px solid @white;
                        transition: 0.15s all linear;
                    }
                }
            }

            text-align: center;
            height: 100%;
            .start-button {
                margin: @double-space;
                cursor: pointer;
                background-color: @orange;
                width: @single-space * 32;
                height: @single-space * 12;
                font-weight: 700;
                color: @white;
                border: none;
                border-radius: 4px;
                border-right: 3px solid darken(@orange, 10%);
                border-bottom: 3px solid darken(@orange, 10%);
                &:active {
                    background-color: darken(@orange, 10%);
                }
            }
        }
        #questions {
            height: 100%;
            display: flex;
            .input-container {
                position: fixed;
                margin: @single-space;
                margin-bottom: 0;
                width: 54%;
                .question-input-group {
                    display: flex;
                    height: @single-space * 6;
                    margin: @double-space @single-space @single-space * 4 @single-space;
                    box-shadow: @float-box-shadow;
                    & input {
                        line-height: @single-space * 5;
                        font-size: @double-space;
                        padding-left: @single-space;
                        flex-grow: 2;
                    }
                    & button {
                        height: 100%;
                        flex-grow: .25;
                        display: inline-block;
                    }
                }
            }
            .questions-container {
                display: inline-block;
                flex-grow: 3;
                margin: @single-space;
                margin-top: @single-space * 12;
                overflow-y: scroll;
            }
            .question {
                border: 1px solid @darker-gray;
                box-shadow: @float-box-shadow;
                padding: @double-space;
                margin: @single-space;
                text-align: center;
                .question-content {
                    display: inline-block;
                }
                .upvotes {
                    float: right;
                    & .upvote-button {
                        margin-left: @single-space;
                        cursor: pointer;
                    }

                    & .remove-button {
                        cursor: pointer;
                        font-weight: 700;
                        color: red;
                    }
                }
                &.ng-move {
                    transition: all 0.5s linear;
                    animation: shake 0.38s cubic-bezier(.36, .07, .19, .97) both;
                    transform: translate3d(0, 0, 0);
                    backface-visibility: hidden;
                    perspective: 1000px;
                }
                &.ng-move.ng-move-active {}
            }
            .session-info {
                flex-grow: 1;
                display: inline-block;
                padding: @double-space;
                margin: @single-space;
                text-align: right;
                .session-title {
                    font-family: 'Oswald', sans-serif;
                    font-size: 240%;
                    font-weight: 700;
                }
                .session-pin {
                    font-weight: 700;
                    margin-bottom: @double-space;
                }
                .session-description {}
            }
        }
    }
    #login {
        .login-card {
            text-align: center;
            background-color: @white;
            width: 25%;
            box-shadow: @float-box-shadow;
            padding: @single-space * 4;
            margin: 0 auto;
            input,
            button {
                margin: @double-space;
            }
        }
    }
    #account {
        padding: @single-space * 4;
        .your-sessions {
            & .your-sessions-text {
                display: block;
                font-size: 150%;
                font-weight: 700;
            }
            & .primary-button {
               margin-top: @double-space;
            }
        }

        .session-add-form {
            padding: @double-space;
            border: 2px solid @bleak-blue;
            width: 30%;
            margin: @single-space 0;
        }

        .sessions {
            overflow-y: scroll;
        .session {
            line-height: @double-space;
            display: inline-block;
            width: 30%;
            padding: @double-space;
            margin: @double-space @double-space @double-space 0;
            border: 1px solid @bleak-blue;
            box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
            & .session-title {
                font-weight: 700;
                font-size: 125%;
            }
            .session-pin {
                margin-left: @triple-space;
                font-size: 75%;
                color: @darker-gray;
            }
            & .session-description {
                margin: @double-space 0;
                padding: @single-space 0;
            }
            & .session-actions {}

            &.ng-enter {
                opacity: 0;
                transition: .25s linear;
            }
            &.ng-enter.ng-enter-active {
                opacity: 1;
            }

            &.ng-leave {
                opacity: 1;
                transition: .25s linear;
            }
            &.ng-leave.ng-leave-active {
                opacity: 0;
            }
        }
        }
    }
}

@keyframes shake {
    10%,
    50%,
    90% {
        transform: translate3d(-2px, 0, 0);
    }
    20%,
    60%,
    80% {
        transform: translate3d(2px, 0, 0);
    }
}