<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link href="https://fonts.googleapis.com/css?family=Oswald" rel="stylesheet">
    <link rel="stylesheet" href="css/main.css" />
    <link rel="stylesheet" href="../bower_components/toastr/toastr.css" />
</head>

<body ng-app="app">
    <div id="main" ng-controller="shellCtrl as $ctrl">
        <div id="header">
            <div class="branding">
                SocratesApp
                <button ng-click="$ctrl.showSidebar = !$ctrl.showSidebar">toggle sidebar</button>
                <button ng-click="$ctrl.signOut()">Sign Out</button>
            </div>
        </div>
        <div class="animate" ng-class="{collapsed : !$ctrl.showSidebar}" id="sidebar"></div>
        <div id="content" class="animate" ng-class="{collapsed : !$ctrl.showSidebar}">
            <ui-view></ui-view>
        </div>

    </div>

    <!--build:lib-->
    <script src="../bower_components/angular/angular.js"></script>
    <script src="../bower_components/angular-animate/angular-animate.js"></script>
    <script src="../bower_components/angular-ui-router/release/angular-ui-router.js"></script>
    <script src="../bower_components/jquery/dist/jquery.js"></script>
    <script src="../bower_components/angularfire/dist/angularfire.js"></script>
    <script src="../bower_components/firebase/firebase.js"></script>
    <script src="../bower_components/firebase/firebase-app.js"></script>
    <script src="../bower_components/firebase/firebase-auth.js"></script>
    <script src="../bower_components/firebase/firebase-database.js"></script>
    <script src="../bower_components/toastr/toastr.js"></script>
    <!--endbuild-->

    <!--build:js-->
    <script src="./js/app.js"></script>
    <script src="./js/services/auth.service.js"></script>
    <script src="./js/services/sidebar.service.js"></script>
    <script src="./js/controllers/pinEntry.controller.js"></script>
    <script src="./js/controllers/shell.controller.js"></script>
    <script src="./js/controllers/start.controller.js"></script>
    <script src="./js/controllers/session.controller.js"></script>
    <!--endbuild-->
</body>

</html>