@import '../variables';

#mobile-nav {
    position: fixed;
    background-color: $dark-blue;
    top: 0;
    display: flex;
    width: 100%;
    height: $single-space * 6;
    text-align: center;
    border-bottom: 2px solid $light-gray;
    i {
        margin: $single-space auto;
        color: $orange;
        font-size: 200%;
        flex-grow: 1;
        color: lighten($orange, 40%);
        opacity: 0.6;
        //color: mix($orange, #999999);
        &.active-nav {
            color: $orange;
            opacity: 1;
            outline: none;
        }
    }
}