<div ng-controller="loginCtrl as $ctrl" id="login">
    <div id="action-buttons" class="action-buttons">
        <button ng-click="$ctrl.onHomeClick()">Home</button>
    </div>
    <form ng-submit="$ctrl.login()">
        <h1>Socrates</h1>
        <div class="input-group">
            <label>Email: </label>
            <input ng-model="email" type="text" />
        </div>
        <div class="input-group">
            <label>Password: </label>
            <input type="password" ng-model="password" />
        </div>
        <div>
            <button type="submit" ng-click="$ctrl.login()">Sign in</button>
            <button ng-click="$ctrl.createAccount()">Create account</button>
        </div>

    </form>
</div>