<div ng-controller="sessionCtrl as $ctrl" id="questions">
    <div class="questions-container">
        <div class="question" ng-repeat="question in questions">
            <div class="question-content">
                <span>{{question.questionText}}</span>
                <span>{{question.upvotes}}</span>
            </div>
            <div class="voting-options">^</div>
        </div>
    </div>
    <div class="session-info">
        <div class="info-content">
        <div class="session-title">{{session.title}}</div>
        <div class="session-pin">Pin #: {{session.pin}}</div>
        <div class="session-description">{{session.description}}</div>
        </div>
    </div>
</div>