<div ng-controller="startCtrl as $ctrl" id="start">
    <div class="action-buttons">
        <button ng-if="!$ctrl.firebaseUser || $ctrl.firebaseUser.isAnonymous" ng-click="$ctrl.onLoginClick()" class="login-button">Login</button>
        <button ng-if="$ctrl.firebaseUser && !$ctrl.firebaseUser.isAnonymous" ng-click="$ctrl.onAccountClick()" class="login-button">Account</button>
    </div>

    </button>
    <h1>Socrates</h1>
    <h3>Just ask.</h3>
    <img src="../img/socratesOrange.png" />
    <div class="id-input">
        <div class="id-input-text">Enter your session's ID</div>
        <input id="id-input" class="id-input-input" maxlength="6" ng-model="$ctrl.sessionID" />
    </div>
    <button ng-click="$ctrl.onStartClick()" class="start-button">START</button>
</div>